@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  --tw-bg-custom: theme('colors.pink'); !* Tailwind CSS'ten bir renk seçin *!*/
/*}*/

/*[data-mode="ggg"] .ggg\:bg {*/
/*  background-color: var(--tw-bg-custom);*/
/*}*/

*:focus {
  outline: none;
}
.sidebarIconButtons:disabled {
  opacity: 1 !important;
}
.typewriter {
  --caret: currentcolor;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.typewriter::after {
  content: '';
  animation: blink 0.7s linear infinite;
  margin-left: 5px;
}
.typewriter.caret::after {
  border-right: 0.1rem solid var(--caret);
  border-width: 1px;
}
.typewriter.caret-thick::after {
  border-right: 12px solid var(--caret);
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*overflow: hidden; !* Hide the main scroll bar *!*/
  width: 100vw;
  /*overflow: scroll; !* Add scroll to the body *!*/
  scrollbar-width: none; /* Hide the scrollbar in Firefox */
  display: flex;
  justify-content: center;
  align-items: center;
}

*::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in WebKit browsers (Chrome, Safari, etc.) */
}

html {
  z-index: 100;
}
.heart {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  right: 4rem;
  top: 0.7rem;
  animation: heartAnimation 1s ease-out;
}

@keyframes heartAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
    right: 4rem;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
    right: 4.5rem;
    top: 0;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
    right: 5rem;

    top: 200px;
  }
}
.emoji-selected {
  left: 0;
  animation: emojiAnimation 500ms linear;
}

@keyframes emojiAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #ffffff;
  color: #ed4343;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  left: 3rem;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); /* Bulanıklık değeri */
}
.unBlured {
  filter: blur(0);
}
.blured {
  /*filter: blur(2px);*/
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.bg-anonim {
  background: url('/userdefault.png') no-repeat #b2b2b2;
  background-size: cover;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-50%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animation-bounce {
  animation: bounce 0.5s infinite;
}
