@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter {
  --caret: currentcolor;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.typewriter::after {
  content: '';
  animation: blink 0.7s linear infinite;
  margin-left: 5px;
}
.typewriter.caret::after {
  border-right: 0.1rem solid var(--caret);
  border-width: 1px;
}
.typewriter.caret-thick::after {
  border-right: 12px solid var(--caret);
}
