@tailwind base;
@tailwind components;
@tailwind utilities;
/*:root {*/
/*  --tw-bg-custom: theme('colors.pink'); !* Tailwind CSS'ten bir renk seçin *!*/
/*}*/

/*[data-mode="ggg"] .gegg\:bg {*/
/*  background-color: var(--tw-bg-custom);*/
/*}*/

*:focus {
  outline: none;
  /* font-family: 'Geologica', sans-serif; */
}
.sidebarIconButtons:disabled {
  opacity: 1 !important;
}
.typewriter {
  --caret: currentcolor;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.typewriter::after {
  content: '';
  animation: blink 0.7s linear infinite;
  margin-left: 5px;
}
.typewriter.caret::after {
  border-right: 0.1rem solid var(--caret);
  border-width: 1px;
}
.typewriter.caret-thick::after {
  border-right: 12px solid var(--caret);
}

body {
  font-family: 'Roboto', sans-serif;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
  scrollbar-width: none; /* Hide the scrollbar in Firefox */
  display: flex;
  justify-content: center;
  align-items: center;
}

*::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in WebKit browsers (Chrome, Safari, etc.) */
}

html {
  z-index: 100;
}
.heart {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  right: 4rem;
  top: 0.7rem;
  animation: heartAnimation 1s ease-out;
}

@keyframes heartAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
    right: 4rem;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
    right: 4.5rem;
    top: 0;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
    right: 5rem;

    top: 200px;
  }
}
.emoji-selected {
  left: 0;
  animation: emojiAnimation 500ms linear;
}

@keyframes emojiAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #ffffff;
  color: #ed4343;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  left: 3rem;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); /* Bulanıklık değeri */
}
.unBlured {
  filter: blur(0);
}
.blured {
  /*filter: blur(2px);*/
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.bg-anonim {
  background: url('/userdefault.png') no-repeat #b2b2b2;
  background-size: cover;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-50%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animation-bounce {
  animation: bounce 0.5s infinite;
}
div.code {
  white-space: pre;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
blockquote {
  border-left: 5px solid #ccc;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

textarea {
  -webkit-user-select: auto;
  user-select: all;
}
[contentEditable] {
  -webkit-user-select: auto;
  user-select: all;
}

.scroll-bar {
  overflow: auto;
}

.scroll-bar::-webkit-scrollbar {
  width: 0.5em;
  display: block;
  cursor: pointer;
}

.dark .scroll-bar::-webkit-scrollbar-track {
  background-color: #151718;
}
.scroll-bar::-webkit-scrollbar-track {
  background-color: white;
}
.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.youtube {
  width: 100%;
  height: 400px;
}
.soundcloud {
  width: 100%;
}
pre {
  font-family: 'Roboto', sans-serif;
  white-space: pre-wrap;
}
p {
  width: 100%;
}
ol {
  list-style-type: decimal;
  list-style-position: inside;
  font-size: larger;
}
ul {
  list-style-position: inside;
  list-style-type: disc;
}
.output a {
  color: rgb(37, 108, 240);
}
button {
  cursor: pointer;
}
code {
  font-size: 14px !important;
  height: 400px;

  overflow-y: auto; /* Add scrollbars if necessary */
}
pre {
  /* position: relative; */
}
.btn-code {
  /* right: 0;
  top: 0; */
}
.expanded {
  height: 100%;
}
